<div  class="jumbotron">
    <div class="container">
        <h1>Willkommen beim FachRef-Assistenten
        </h1>
        <p>Bestandskontrolle und -steuerung bequem von einem Punkt</p>
        <p>
          <button class="btn btn-primary btn-lg"  routerLink="/user" role="button">Meine Einstellungen &#187;</button>
    </div>
</div>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div (click)="goTo('protokoll')" style="cursor: pointer;" class="tile">
      <h2>Protokoll</h2>
      <p> Das Protokoll gibt eine Übersicht über die Nutzung und den Bestand sowohl von einzelnen Auflagen oder über mehrere Auflagen hinweg.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/profiles" style="cursor: pointer;" class="tile">
        <h2>Profile</h2>
        <p> Im Bestandspflegemodul können Profile zur Bestandspflege erstellt und verwaltet werden. Auf der Basis dieser Parametersätzen werden Listen von nutzungsbasierte Aussonderungs- und Anschaffungsvorschlägen erstellt.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/hitlists" style="cursor: pointer;" class="tile">
        <h2>Hitlisten</h2>
        <p> Die Vormerkhitlisten können nach Bestandsbereichen und vorgegebenen Schwellenwerten gefiltert werden. Die so gefilterten Listen können außerdem als RSS-Feeds abonniert werden.</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/ejournals" style="cursor: pointer;" class="tile">
        <h2>eMedien</h2>
        <p> In diesem Bereich können Nutzungsstatistiken für e-Journals, e-Books und Pakete abgerufen werden sowie Nutzungsanalysen erstellt werden.</p>
      </div>
    </div>
  </div>
</div>
