<div  class="jumbotron">
    <div class="container">
        <h1>{{'title.fachref' | translate}}
        </h1>
        <p>{{'description.fachref.short' | translate}}</p>
        <p>
          <button pButton type="button" class="ui-button"  routerLink="/user" label="{{'my.settings' | translate}}" icon="fa-user"></button>
    </div>
</div>
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div (click)="goTo('protokoll')" style="cursor: pointer;" class="tile">
      <h2>{{'title.protokoll' | translate}}</h2>
      <p> {{'description.protokoll.medium' | translate}}</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/profiles" style="cursor: pointer;" class="tile">
        <h2>{{'title.profiles' | translate}}</h2>
        <p> {{'description.profiles.medium' | translate}} </p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/hitlists" style="cursor: pointer;" class="tile">
        <h2>{{'title.hitlists' | translate}}</h2>
        <p> {{'description.hitlists.medium' | translate}}</p>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div routerLink="/emedia" style="cursor: pointer;" class="tile">
        <h2>{{'title.eusage' | translate}}</h2>
        <p> {{'description.eusage.medium' | translate}}</p>
      </div>
    </div>
  </div>
</div>
