<div class="jumbotron">
  <div class="container">
    <h1>Hitlisten</h1>
    <p>Die am stärksten vorgemerkten Titel je Fachbereich</p>
      <button pButton type="button" [routerLink]="['hitlist', 'newAlertcontrol']" label="Neues Profil erstellen" icon="fa-plus"></button>
  </div>
</div>
<div *ngIf="alertcontrols" class="container">
  <h2 class="sub-header">Profile</h2>
  <p>Die jeweiligen Hitlisten werden nachts aktualisiert.</p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Bereich
        </th>
        <th>
          zur Hitliste
        </th>
        <th>
          Schwelle Verhältnis
        </th>
        <th>
          Schwelle Anzahl
        </th>
        <th>
          Schwelle Vormerkungen
        </th>

        <th>
          Bearbeiten
        </th>
        <th>
          Alert
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of alertcontrols">
        <th>
          {{d.description}}
        </th>
        <th>
          {{'subject.' + d.notationgroup | translate:'en'}}
        </th>
        <th>
          <button pButton type="button" class="ui-button-success" style="font-weight: normal;" [routerLink]="['nrequests', d.identifier]"
                  icon="fa-list-alt" label="zur Liste"></button>
        </th>
        <th>
          {{d.thresholdRatio}}
        </th>
        <th>
          {{d.thresholdRequests}}
        </th>
        <th>
          {{d.thresholdDuration}}
        </th>

        <th>
          <button pButton class="ui-button-warning" style="font-weight: normal;"
                  [routerLink]="['hitlist', d.identifier]" icon="fa-edit" label="Bearbeiten"></button>
          <button pButton class="ui-button-danger" style="font-weight: normal;" icon="fa-trash" label="Löschen"
                  (click)="deleteAlertcontrol(d); $event.stopPropagation()"></button>
        </th>
        <th>
          <button pButton class="ui-button-secondary" style="color: #f60;" icon="fa-rss" label="RSS"
                  (click)="goToRss(d)"></button>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
