<div class="jumbotron">
  <div class="container">
    <h1>{{'title.eusage' | translate}}</h1>
    <p>{{'description.eusage.short' | translate}} </p>
    <form (submit)="getCounters()" (keyup.enter)="getCounters()">
      <div class="ui-g">
        <div class="ui-g-6">
          <label for="isbn-input">ISSN, ISBN, ID: </label>
          <input id="isbn-input" type="text" size="30" pInputText [(ngModel)]="identifiersString"
                 [ngModelOptions]="{standalone: true}" autofocus>

        </div>
        <div class="ui-g-6">
          <button pButton type="button" label="Abfragen" (click)="getCounters()" class="ui-button-success"
                  icon="fa-chart-line"></button>
        </div>
      </div>
      <div class="ui-g">

        <div *ngIf="journalcounters || ebookcounters || databasecounters" class="ui-g-9">
          <p-selectButton [options]="stackOptions" [(ngModel)]="stackValue" [ngModelOptions]="{standalone: true}" (onChange)="updatePlotData()"></p-selectButton>
        </div>
        <div class="ui-g-3">
          <button pButton type="button" icon="fa-server" label="EBS-Modelle" routerLink="ebs" class="ui-button"></button>
        </div>
      </div>
    </form>
  </div>
</div>
<p-messages [(value)]="messages" [closable]="false"></p-messages>
<div class="ui-g" *ngIf="messages.length === 0">
  <div class="ui-g-8">
    <chart [options]="options" *ngIf="journalcounters || ebookcounters || databasecounters"
           style="display: block"></chart>
  </div>
  <div *ngIf="journalcounters || ebookcounters"  class="ui-g-4">
    <chart [options]="statsOptions" *ngIf="yearStatsValues"
           style="display: block"></chart>
  </div>
</div>
