<div class="jumbotron">
  <h1>Eigene Einstellungen</h1>
</div>
<div class="ui-g-nopad" *ngIf="loaded">
  <div class="ui-g">
    <h2 class="sub-header">Standardzeitraum</h2>
    <div class="ui-g-12">
        <p> Die folgende Zeitangabe beschreibt den Zeitraum, in dem ein bereits bearbeitetes Werk von einer weiteren
            Analyse ausgeschlossen ist. Außerdem wird dieser Zeitraum verwendet, wenn Titel über den "Standard"-Button
            auf die Blacklist gesetzt werden.</p>
    </div>
    <div class="ui-g-12">
        <div class="form-group">
            <label class="ui-g-2 control-label" for="interval">
                Standardzeitraum
            </label>
            <div class="ui-g-6">
                <input id="interval" [(ngModel)]="usersettings.timePeriod" placeholder="{i18n:editor.placeholder.interval}" class="form-control input-md"
                       type="text"/>
            </div>
        </div>
    </div>
</div>
<div class="ui-g">
    <h2 class="sub-header">Angaben zu Fächern</h2>
    <p> Bitte die eigenen Fächer und die Rolle (Referent oder Vertretung) auswählen. Mit Hilfe des Symbols "+" können
        Einträge hinzugefügt, mittels "-" Einträge entfernt werden. </p>
    <div class="ui-g-12">
        <div class="form-group">
            <label class="ui-g-3 control-label" for="subject">
                Fächer als Fachreferent
            </label>
            <div class="ui-g-9">
                <p-multiSelect id="subject" [options]="availableSubjects" [(ngModel)]="subjects" defaultLabel="Bitte auswählen" selectedItemsLabel="{0} Fächer ausgewählt"></p-multiSelect>
            </div>
        </div>
        <div class="form-group">
            <label class="ui-g-3 control-label" for="substitute">
                Fächer als Vertreter
            </label>
            <div class="ui-g-9">
                <p-multiSelect id="substitute" [options]="availableSubjects" [(ngModel)]="substitute" defaultLabel="Bitte auswählen" selectedItemsLabel="{0} Fächer ausgewählt"></p-multiSelect>
            </div>
        </div>

    </div>
</div>

<div class="ui-g-10 ui-g-offset-1">
    <div class="form-group">
        <div class="ui-g-8">
            <button pButton type="button" class="ui-button-danger" (click)="goBack()" label="Abbrechen" icon="fa-times"></button>
            <button pButton type="button" class="ui-button-success" (click)="save(usersettings)" label="Speichern" icon="fa-save"></button>
        </div>
    </div>
</div>
</div>
