<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/start">UB-Services :: Start</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul *ngIf="principal" class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="protokoll">Protokoll</a>
                </li>
                <li *ngIf="admin">
                    <a href="/admin">Admin</a>
                </li>
                <li *ngIf="media">
                    <a routerLink="media">Medien</a>
                </li>
                <li *ngIf="fachreferent">
                    <a routerLink="profiles">Profile</a>
                </li>
                <li *ngIf="fachreferent">
                    <a routerLink="hitlists">Hitlisten</a>
                </li>
                <li *ngIf="fachreferent || media">
                    <a routerLink="ejournals">e-Journals</a>
                </li>
              <li>
                <a (click)="logout()" >Logout</a>
              </li>
                <li class="dropdown">
                    <user></user>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
<router-outlet></router-outlet>

