<div class="jumbotron">
    <div class="container">
        <h1>Nutzerübersicht</h1>
        <p>Einstellungen für jeden Nutzer</p>
    </div>
</div>
<div class="container">
    <table id="sortableTable" class="table table-hover">
        <thead>
        <tr>
            <th>E-Mail </th>
            <th></th>
            <th>Rolle(n) </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            </td>
            <td>
                <form class="form" role="form" method="post" action="userAdmin" >
                    <input type="hidden" name="name" value="{$email}" />
                    <input type="hidden" name="type" value="userDelete" />
                    <input type="submit" class="btn btn-xs btn-danger" value="Nutzer löschen" />
                </form>
                <form class="form" role="form" method="post" action="userAdmin" >
                    <input type="hidden" name="email" value="{$email}" />
                    <input type="text" name="newPassword" placeholder="neues Passwort" />
                    <input type="submit" class="btn btn-xs btn-danger" value="Passwort setzen" />
                </form>
            </td>
            <td>
                <table class="table table-striped">
                    <tr>
                        <td>

                        </td>
                        <td>
                            <form id="form-{$email}-{$role}" class="form" role="form" method="post" action="userAdmin" >
                                <input type="hidden" name="name" value="{$email}" />
                                <input type="hidden" name="type" value="roleDelete" />
                                <input type="hidden" name="roleName" value="{$role}" />
                                <input type="submit" class="btn btn-xs btn-danger" value="löschen" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <form class="form" role="form" method="post" action="userAdmin" >
                            <td>
                                <input type="hidden" name="name" value="{$email}" />
                                <input type="hidden" name="type" value="roleAdd" />
                                <select name="roleName" class="form-control  input-sm">
                                    <option value="fachreferent">Fachreferent</option>
                                    <option value="userAdmin">Admin</option>
                                    <option value="medienbearbeitung"> Medienbearbeitung </option>
                                    <option value="guest">Gast</option>
                                </select>
                            </td>
                            <td>
                                <input type="submit" class="btn btn-xs btn-success" value="hinzufügen" />
                            </td>
                        </form>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>