<div class="jumbotron">
    <div class="container">
        <h1>Blacklist</h1>
        <p>Diese Titel sind für weitere Analyse und Vormerk-Hitlisten gesperrt.</p>
      <p>Liste anzeigen :
        <p-selectButton [options]="options" [(ngModel)]="selected"></p-selectButton>
      </p>
    </div>
</div>
<div *ngIf="!busy" class="container">
  <p-dataTable [value]="selectedIgnoreds[selected]" [paginator]="true" [rows]="10" #dt>
    <ng-template pTemplate="header">
      <p-column field="shelfmark" header="Signatur" [filter]="true" filterPlaceholder="Suche"></p-column>
      <p-column field="type" header="Typ" [filter]="true" filterMatchMode="equals">
        <!--<ng-template pTemplate="filter" let-col>
          <p-dropdown [options]="options" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template> -->
      </p-column>
    </ng-template>
  </p-dataTable>
      <!--<tr>
        <th>Signatur</th>
        <th>Typ</th>
        <th>Kommentar</th>
        <th>Datum Aufnahme</th>
        <th>Datum Ende</th>
        <th>Löschen</th>
      </tr>
      <tr>
        <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'shelfmark', col.filterMatchMode)"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-selectedIgnored>
      <tr>
        <td>{{selectedIgnored.shelfmark}}</td>
        <td>{{selectedIgnored.type}}</td>
        <td>{{selectedIgnored.comment}}</td>
        <td>{{selectedIgnored.date}}</td>
        <td>{{selectedIgnored.expire}}</td>
        <td>
          <button type="button" (click)="delete(selectedIgnored)" pButton
                  pTooltip="Sperrung aufheben" class="ui-button-danger" icon="fa-trash"></button>
        </td>
      </tr>
    </ng-template>
  </p-dataTable>-->
</div>
