<div class="jumbotron">
    <div class="container">
        <h1>Blacklist</h1>
        <p></p>
      <p *ngIf="blacklist.length > 0">Liste anzeigen :
        <p-selectButton [options]="options" [(ngModel)]="selected"></p-selectButton>
      </p>
    </div>
</div>

<p-dialog header="Daten werden abgerufen" [modal]="true" [closable]="false" [(visible)]="busy">
  <img src="files/custom/loading.gif" alt="Loading..." style="width:304px;height:228px;">
</p-dialog>

<p-growl baseZIndex="10" life="7500" [(value)]="msgs"></p-growl>

<div *ngIf="blacklist.length > 0" class="container">
  <p-table [value]="selectedIgnoreds.get(selected)" [paginator]="true" [rows]="10" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th>
          Signatur
        </th>
        <th>
          Art
        </th>
        <th>
          Kommentar
        </th>
        <th>
          Datum Sperrung
        </th>
        <th>
          Enddatum
        </th>
        <th>Aktion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ignored>
      <tr>
        <td>{{ignored.shelfmark}}</td>
        <td>{{ignored.type}}</td>
        <td>{{ignored.comment}}</td>
        <td>{{ignored.date}}</td>
        <td>{{ignored.expire}}</td>
        <td>
          <button pButton class="ui-button-danger" icon="fa-trash" label="Löschen"
                  (click)="deleteIgnored(ignored); $event.stopPropagation()"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="blacklist.length == 0" class="container">
  <div class="ui-g content">
    <div class="ui-g-12" style="padding: 15px;">
      <div class="alert alert-warning" style="text-align: center;">
        <p> Keine Titel auf der Blacklist.</p>
      </div>
    </div>
  </div>
</div>
