<p-growl baseZIndex="10" life="7500" [(value)]="msgs"></p-growl>
<div *ngIf="stockcontrol">
  <div class="jumbotron">
    <div class="container">
      <h1><input [(ngModel)]="stockcontrol.description" placeholder="name" style="border: none"/></h1>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-8 ui-md-12 ui-g-offset-2">
      <div class="ui-g-12">
        <h2 class="sub-header">{{'title.area' | translate}}</h2>
        <p> {{'description.area' | translate}}
        </p>
      </div>
      <div class="ui-g-12">
        <div class="form-group">
          <label class="ui-g-4 control-label" for="subjectID">
            Fach:
          </label>
          <div class="ui-g-6">
            <select id="subjectID" [(ngModel)]="stockcontrol.subjectID" class="form-control">
              <option *ngFor="let m of subjectIds" value="{{m}}">{{'subject.' + m | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="systemCode">
            Systemstelle:
          </label>
          <div class="ui-g-6">
            <input id="systemCode" [(ngModel)]="stockcontrol.systemCode" placeholder="z.B. VNA,VNA-VNO"
                   class="form-control input-md"/>
          </div>
        </div>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="collections">
            Standorte:
          </label>
          <div class="ui-g-6">
            <input id="collections" [(ngModel)]="stockcontrol.collections" placeholder="z.B. E33 E31"
                   class="form-control input-md"/>
          </div>
        </div>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="materials">
            Materialien:
          </label>
          <div class="ui-g-6">
            <select id="materials" [(ngModel)]="stockcontrol.materials" class="form-control">
              <option *ngFor="let m of materialIds" value="{{m}}">{{'material.' + m | translate}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <h2 class="sub-header">Parameter zur Ausleihenanalyse</h2>
        <p> In diesem Abschnitt werden die grundlegenden Parameter zur
          Berechnung der nutzungsbasierten Aussonderungsvorschläge
          vorgegeben. Eine genauere Beschreibung erhält man, wenn die Maus
          auf den Parameternamen bewegt wird.
        </p>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="yearsToAverage"
                 data-toggle="tooltip"
                 title="Zeitraum in Jahren, in dem das Ausleihverhalten untersucht wird. Wird beispielsweise 5 eingetragen, so werden die maximale und durchschnittliche Ausleihe für die vergangenen fünf Jahre berechnet.">
            Betrachteter Zeitraum
          </label>
          <div class="ui-g-2">
            <input id="yearsToAverage" placeholder="z.B. 5"
                   class="form-control input-md " [(ngModel)]="stockcontrol.yearsToAverage" type="number" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="ui-g-4 control-label" for="minimumYears"
                 data-toggle="tooltip"
                 title="Zeitraum, den Exemplare einer Auflage mindestens im Bestand sein müssen, damit Aussonderungen vorgeschlagen werden.">
            Minmaler Zeitraum
          </label>
          <div class="ui-g-2">
            <input id="minimumYears" placeholder="z.B. 5"
                   class="form-control input-md" [(ngModel)]="stockcontrol.minimumYears" type="number" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="staticBuffer"
                 data-toggle="tooltip"
                 title="Anzahl an Exemplaren über die maximale Ausleihe hinaus, die nicht ausgesondert werden. Wird eine ganze Zahl angegeben (zum Beispiel 4), so verbleiben mindestens vier Exemplare ZUSÄTZLICH zur maximalen Ausleihe im Bestand. Auch die Angabe von Anteilen (0.1 für 10%) ist möglich.">
            Reserve
          </label>
          <div class="ui-g-2">
            <input id="staticBuffer" placeholder="z.B. 2"
                   class="form-control input-md" type="text" [(ngModel)]="stockcontrol.staticBuffer" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="ui-g-4 control-label" for="groupedAnalysis">
            gruppierte Analyse
          </label>
          <div class="ui-g-2">
            <select [(ngModel)]="stockcontrol.groupedAnalysis" id="groupedAnalysis" class="form-control">
              <option value="true">verwenden</option>
              <option value="false">nicht verwenden</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
          <p> Optional kann eine E-Mail-Adresse angegeben werden, an die (zum
            Zwecke der Archivierung) eine Kopie der Auftrags-Email geschickt
            wird.
          </p>
          <div class="form-group">
            <label class="col-md-4 control-label" for="deletionMailBcc">
              BCC-Adresse
            </label>
            <div class="ui-g-6">
              <input id="deletionMailBcc" placeholder="max.mustermann@test.de"
                     class="form-control input-md" [(ngModel)]="stockcontrol.deletionMailBcc" type="email"/>
            </div>
          </div>
        </div>

      <div class="ui-g-12">
        <h2>Teilen</h2>
        <p>Dieses Profil ist mit folgenden Nutzern geteilt:</p>
        <div class="ui-g-6 ui-g-offset-1">
          <table class="table table-hover">
            <tr *ngFor="let su of profilePerUsers">
              <td>{{su.username}}</td>
              <td>
                <button pButton type="button" class="ui-button-danger"
                        (click)="deleteStockcontrolUser(su)" label="Teilen aufheben"
                        icon="fa-trash"></button>
              </td>
            </tr>
            <tr>
              <td>
                <p-autoComplete [(ngModel)]="userShare" [suggestions]="allUsers"
                                (completeMethod)="filterSimpleUser($event)"
                                field="email" [size]="30"
                                placeholder="Suche mit E-Mail" [minLength]="3"></p-autoComplete>
              </td>
              <td>
                <button pButton type="button" label="Hinzufügen" icon="fa-plus"
                        (click)="shareWithUser(userShare)"></button>
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-10 ui-g-offset-1">
            <div class="form-group">
              <button pButton type="button" class="ui-button-danger" label="Abbrechen" icon="fa-times"
                      (click)="goBack()"></button>
              <button pButton type="button" class="ui-button-success" label="Speichern" icon="fa-save"
                      (click)="save(stockcontrol)"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
