<div class="jumbotron">
  <div class="container">
    <h1>{{'title.profiles' | translate}}</h1>
    <p>{{'description.profiles.short' | translate}}</p>
      <button pButton type="button" [routerLink]="['profile', 'newProfile']" icon="fa-plus" iconPos="right" label="Neues Profil erstellen"></button>
  </div>
</div>
<div *ngIf="stockcontrols" class="container">
  <h2 class="sub-header">Profile für das Fachreferat</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          Beschreibung
        </th>
        <th>
          Aussonderungsvorschlag
        </th>
        <th>
          Ausführen/bearbeiten/löschen
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of stockcontrols"
          [ngClass]="{danger: (d.status=='RUNNING'),success:(d.status=='FINISHED')}">
        <th>
          {{d.description}}
        </th>
        <th>

			<span class="links">
				<button *ngIf="d.status == 'FINISHED'" pButton type="button" class="ui-button-success" style="font-weight: normal;"
                [routerLink]="['eventanalysis', d.identifier]" icon="fa-list-alt"
                label="zur Liste"></button>
        <span *ngIf="d.status == 'RUNNING'"> Analyse läuft</span>
        <span *ngIf="d.status == 'CREATED'"> Noch keine Analyse erstellt</span>
			</span>
        </th>
        <th>
			<span class="links">
                <button pButton [disabled]="d.status == 'RUNNING'" style="font-weight: normal;" (click)="runStockcontrol(d)" label="Analyse starten"
                        icon="fa-play"></button>
			</span>
          <span class="links">
                        <button pButton class="ui-button-warning" style="font-weight: normal;" [disabled]="d.status == 'RUNNING'"
                                [routerLink]="['profile', d.identifier]" icon="fa-edit"
                                label="Bearbeiten"></button>
			        </span>
          <span class="links">
                        <button pButton class="ui-button-danger" style="font-weight: normal;" [disabled]="d.status == 'RUNNING'" icon="fa-trash"
                                label="Löschen"
                                (click)="deleteStockcontrol(d); $event.stopPropagation()"></button>
			        </span>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
